.menuView {
  display: flex;
  flex-direction: column;
  width: 20em;
  max-width: 100%;
  background-color: #489078;
  border-bottom: 1px solid rgb(116, 184, 146);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  padding: 1em;
  box-sizing: border-box;
}

.cart-list {
  display: flex;
  justify-content: end;
  /* TODO: varför fungrar det inte? */
}

.titel {
  margin-left: 8px;
  margin-top: 3px;
}

.cart {
  background-color: white;
  border: 1px solid #489078;
  width: 4em;
  height: 4em;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 8px;
}

/* Wonton////////////////////////////////////////////// */
.wonton-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 5px;
}

.wonton-wrapper > div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.wonton-item {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.wonton-row {
  background-color: #605858;
  border-bottom: 3px dotted white;
  color: white;
  padding: 0.8em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.wonton-price {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.wonton-ingredients {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.wonton-information {
  box-sizing: border-box;
  background-color: #489078;
  color: white;
  /* padding: 0.8em; */
}

/* Dip /////////////////////////////////////////// */
/* styla dip och drink tillsammans för de har samma syling */

.dipsauce-information {
  background-color: rgb(150, 150, 243);
  border-radius: 4px;
}

.dipsauce-item {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.dipsauce-row {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.dipsauce-price {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.dipsauce-ingredients {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.dipsauce-information {
  box-sizing: border-box;
  background-color: #489078;
  color: white;
  /* padding: 0.8em; */
}

/* Drink ////////////////////////////////////////// */
.drink-item {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.drink-row {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.drink-price {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.drink-ingredients {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.drink-information {
  box-sizing: border-box;
  background-color: #489078;
  color: white;
  /* padding: 0.8em; */
}