.menu {
  display: grid;
  align-content: center;
  width: 20em;
  height: 50em;
  background-color: rgb(116, 184, 146);
  border-bottom: 1px solid rgb(116, 184, 146);
  color: white;
  padding: 0.8em;
  gap: 0.5em;
}
/* 
/* .shopping-cart {
  display: flex;
  width: 5em;
  background-color: white;
  color: black;
} */ */

* > food-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.5px solid rgb(177, 172, 172);
  background-color: rgb(129, 127, 127);
  color: white;
  border-radius: 10px;
}

*>p,
div {
  border-bottom: 1px solid rgb(177, 172, 172);
  padding: 0.8em;
  margin: 1px;
}

.dipsauce {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.5px solid rgb(177, 172, 172);
  background-color: rgb(129, 127, 127);
  color: white;
  border-radius: 10px;
  padding: 0.8em;
  gap: 0.5em;
}

.drinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.5px solid rgb(177, 172, 172);
  background-color: rgb(129, 127, 127);
  color: white;
  margin-bottom: 5em;
  border-radius: 10px;
  padding: 0.8em;
  gap: 0.5em;

  *>div {
    gap: 1em;
  }

}