.menuView {
  display: flex;
  flex-direction: column;
  width: 20em;
  max-width: 100%;
  background-color: #489078;
  border-bottom: 1px solid rgb(116, 184, 146);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  padding: 1em;
  box-sizing: border-box;
}

.cart-list {
  display: flex;
  justify-content: end;
  /* TODO: varför fungrar det inte? */
}

.titel {
  margin-left: 8px;
  margin-top: 3px;
}

.cart {
  background-color: white;
  border: 1px solid #489078;
  width: 4em;
  height: 4em;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 8px;
}

/* Wonton////////////////////////////////////////////// */
.wonton-wrapper {
  display: grid;
  align-items: center;
  background-color: #605858;
  border-right: 1px solid #605858;
  border-bottom: 0.2px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  padding-bottom: 1em;
  padding-left: 1px;
  padding-right: 1px;
  gap: 5px;
}

.wonton-wrapper>div {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
}

.wonton-item {
  /* display: grid; */
  text-transform: uppercase;
  /* align-content: stretch; */
  background-color: #605858;
  font-size: medium;
  font-weight: bold;
  color: white;
  padding-top: 1em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.wonton-row {
  background-color: #605858;
  border-bottom: 2px dotted white;
  width: 100%;
  align-self: center;
  color: white;
  padding: 0em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.wonton-price {
  background-color: #605858;
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
  color: white;
  padding-top: 1em;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}


.wonton-ingredients {
  /* display: ; */
  background-color: #605858;
  font-size: x-small;
  color: white;
  padding: 0.8em;
  padding-bottom: 1px;
  padding-left: 1.5px;
  padding-right: 1.5px;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.wonton-information {
  box-sizing: border-box;
  background-color: #489078;
  color: white;
  /* padding: 0.8em; */
}

/* Dip /////////////////////////////////////////// */
/* styla dip och drink tillsammans för de har samma syling */

.dipsauce-information {
  background-color: rgb(150, 150, 243);
  border-radius: 4px;
}

.dipsauce-item {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.dipsauce-row {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.dipsauce-price {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.dipsauce-ingredients {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.dipsauce-information {
  box-sizing: border-box;
  background-color: #489078;
  color: white;
  /* padding: 0.8em; */
}

/* Drink ////////////////////////////////////////// */
.drink-item {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.drink-row {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.drink-price {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.drink-ingredients {
  background-color: #605858;
  color: white;
  padding: 0.8em;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.drink-information {
  box-sizing: border-box;
  background-color: #489078;
  color: white;
  /* padding: 0.8em; */
}