.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  /* vad betyder dessa?? */
  top: 0;
  left: 0;
  background-color: rgb(199, 192, 192);
  width: 100vw;
  height: 100vh;
}

.overlay.active {
  display: flex;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(240, 234, 234);
  min-width: 300px;
  min-height: 500px;
  padding: 20px;
  box-sizing: border-box;
}

.overlay-cart-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  margin-right: 3em;
  margin-top: 4em;
}

.button-container {
  display: flex;
  width: 10em;
  gap: 5px;
}

.cart-row{
    display: flex;
  flex-grow: 2;
  align-self: center;
  align-self: end;
  background-color: #605858;
  color: white;
  border-bottom: 2px dotted white;
  width: 50%;
  padding: 0em;
  padding-right: 1px;
}

.item-selected {
  border-radius: 50%;
  border: 1px solid black;
  background-color: #cdcfcd;
  width: 20px;
  height: 20px;
  margin-bottom: 2em;
}

.item-dismissed {
  border-radius: 50%;
  border: 1px solid black;
  background-color: #cdcfcd;
  width: 20px;
  height: 20px;
  margin-bottom: 2em;
}

.overlay-back-button {
  background-color: #489078;
  color: rgb(250, 248, 248);
  border: none;
  margin-top: 1em;
  padding: 3px;
  cursor: pointer;
}

.overlay-back-button:hover {
  background-color: #3b7662;
}

.overlay-total {
  font-weight: bold;
  font-size: small;
  background-color: rgb(196, 192, 192);
  height: 3em;
}

.overlay-pay-button {
  background-color: #343534;
  color: rgb(250, 248, 248);
  height: 3em;
  margin-top: 1em;
}

.cart-display {
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .menuView {
    width: 700px;
    margin: 50px auto 0 auto;
  }
}

@media (min-width: 391px) {
  body {
    background-color: #f0f6f2;
  }
}