.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #489078;
  width: 100vw;
  height: 100vh;
}

.overlay.active {
  display: flex;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* align-content: ; */
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(240, 234, 234);
  width: 90%;
  max-width: 400px;
  /* height: auto;  */
  max-height: 90vh;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.overlay-cart-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  margin-right: 3em;
  margin-top: 4em;
}

.overlay-back-button {
  background-color: #605858;
  color: rgb(250, 248, 248);
  border: none;
  margin-top: 1em;
  padding: 3px;
  cursor: pointer;
}

.overlay-back-button:hover {
  background-color: #3b7662;
}

.overlay-total {
  display: grid;

  font-weight: bold;
  font-size: small;
  background-color: rgb(196, 192, 192);
  height: 3em;
}

.overlay-pay-button {
  background-color: #343534;
  color: rgb(250, 248, 248);
  height: 3em;
  margin-top: 1em;
}

.cart {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0.7em;
  font-weight: bold;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;

}

.cart-display .name-price-row {
  border-top: none;
}

.cart-item-name {
  font-weight: bold;
}

.name-price-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted gray;
  padding-bottom: 10px;
}

.cart-item-price {
  font-weight: bold;
  margin-left: 10px;
}

.item-amount {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  color: #343534;
  width: 16px;
}

.cart-display .cart-wrapper:not(:last-child) .button-row {
  border-bottom: 1px solid gray;
}

.button-row {
  padding-bottom: 10px;
}

.button-row button {
  background-color: #cac4c4;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 20px;
  height: 20px;
}

.overlay-total {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: bold;
  font-size: small;
  background-color: rgb(196, 192, 192);
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  gap: 10px;
}

.overlay-total .block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay-total .block1 .titel {
  font-weight: bold;
}

.overlay-total .block1 .subtitel {
  font-weight: normal;
  font-size: 0.8em;
  /* color: #555; */
}

.overlay-total .block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.cart-wrapper {
  padding: 5px;
}

@media (max-width: 390px) {
  .overlay-content {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }
}