.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  /* vad betyder dessa?? */
  top: 0;
  left: 0;
  background-color: rgb(199, 192, 192);
  width: 100vw;
  height: 100vh;
}

.overlay.active {
  display: flex;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border-radius: 8px; */
  background-color: rgb(240, 234, 234);
  /* border: 2px solid red; */
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  box-sizing: border-box;
}

.overlay-back-button {
  background-color: #343534;
  color: rgb(250, 248, 248);
  border: none;
  /* margin-top: auto; */
  padding: 3px;
  cursor: pointer;
}

.overlay-pay-button {
  background-color: #343534;
  color: rgb(250, 248, 248);
  margin-top: 1em;
}

.overlay-back-button:hover {
  background-color: #3b7662;
}

.cart-display {
  margin-bottom: 20px;
}